<h2><%= game.title %></h2>
<p>author: <%/*= game.author.email */%></p>
<img src="<%= game.image %>"  width="100"/>
<br />
<h3>Reviews</h3>
<ul>
  <% reviews.forEach(review=> { %>
    <li>
      <%= review.content %> by <%= review.author.email %>
      Rating: <%= review.rating %>
      <!--For loop img-->
    </li>
    <% }) %>
</ul>

<h3>Add Your Review</h3>
<% if (isLoggedIn) { %>
<form action="/review/create/<%= game.id %>" method="post">
  <input type="text" name="content" />
  <select name="rating" required="required">
    <option value="">Your Rating</option>
    <option value="1">1 Star</option>
    <option value="2">2 Star</option>
    <option value="3">3 Star</option>
    <option value="4">4 Star</option>
    <option value="5">5 Star</option>
  </select>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
<% } else { %>
  Please <a href="/user/login">login</a> to write a review
<% } %>
